body {
  margin: 0 0 0 0;
  font-family: sans-serif;
}
header {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.25em;
  text-align: center;
}
footer {
  margin-top: 0;
  margin-left: 0;
  left: 0;
  bottom: 0;
  height: 144px;
  width: 100%;
}
main {
  margin-top: 0;
  margin-left: 60px;
  margin-right: 60px;
}
.white-on-blue {
  color: white;
  background-color: #143176;
}
.main-block {
  display: inline-block;
  width: 40%;
  padding: 6% 10% 10% 10%;
}
.main-block h2 {
  text-align: center;
}
.main-block p {
  padding-left: 2em;
  padding-right: 3em;
}
.grey-bar {
  display: inline-block;
  background-color: lightgrey;
  width: 100%;
}
.right-block {
  display: inline-block;
  width: 20%;
  padding: 2.5%;
}
.right-block p {
  font-size: 0.8em;
}
.img-back {
  display: inline-block;
  color: white;
  background-color: lightblue;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}